<div class="common" style="background-image: url(./assets/default-header-img.jpg);"></div>

<div class="contact-section">
    <div class="container">
        <div class="contact-items">
            <div class="contact-cards">
                <div class="contact-card">
                    <h3>Location</h3>
                    <p>709 Honey Creek Dr.</p>
                    <p>New York, NY 10028</p>
                </div>
                <div class="contact-card">
                    <h3>Our hours</h3>
                    <p>10:00 AM – 22.00 PM</p>
                    <p>Monday – Sunday</p>
                </div>
                <div class="contact-card">
                    <h3>Contact us</h3>
                    <p>Phone: 1 800 755 60 20</p>
                    <p>Email: contact@company.com</p>
                </div>
            </div>
            <div class="footer-social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-dribbble"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
</div>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z4YOa4YOd4YOc4YOT4YOd4YOc4YOYLCDhg5Lhg5Dhg5Thg6Dhg5fhg5jhg5Dhg5zhg5Thg5Hhg6Phg5rhg5gg4YOh4YOQ4YOb4YOU4YOk4YOd!5e0!3m2!1ska!2sge!4v1619547873198!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>