<div class="footer-section" style="background-image: url(./assets/footer-bg.jpg);">
    <div class="container">
        <div class="footer-items">
            <div class="footer-logo">
                <img src="./assets/footer-logo.png" alt="">
            </div>
            <div class="footer-item">
                <div class="footer-info">
                    <h3>ADDRESS</h3>
                    <p>Vitae pharetra vehicula Street</p>
                    <p>Sed ipsum arcu, 8547</p>
                </div>
                <div class="footer-social">
                    <h3>FOLLOW US</h3>
                    <div class="hexagon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="hexagon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="hexagon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="hexagon">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="hexagon">
                        <i class="fab fa-pinterest"></i>
                    </div>
                </div>
                <div class="footer-contact">
                    <h3>CONTACT US</h3>
                    <span>info@sitename.com</span>
                    <span>121 - 369 - 8547</span>
                </div>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>
                        <a [routerLink]="['']"[routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
                        <a [routerLink]="['/about']" routerLinkActive="active">About Us</a>
                        <a [routerLink]="['/services']" routerLinkActive="active">Services</a>
                        <a [routerLink]="['/price']" routerLinkActive="active">Pricing</a>
                        <a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">© Copyright 2020. Wine Shop. All Rights 
                Reserved. Designed by SKT Themes</div>
        </div>
    </div>
</div>