
<div [ngClass]="'background'" class="head-section">
    <div class="container">
        <div class="header-items">
            <div class="contact-line">
                <div class="left-line">
                    <span> <i class="fas fa-phone-alt"></i>
                        12 8888 6666
                     </span>
                     <span><i class="fas fa-envelope"></i>
                        info@sitename.com
                     </span>
                </div>
                <div class="right-line">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
            </div>
            <div class="navigation">
                <div class="logo">
                    <img src="./assets/logo.png" alt="">
                </div>
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a (click)="add()" class="new" [routerLink]="['']"[routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
                            <a [routerLink]="['/about']" routerLinkActive="active">About Us</a>
                            <a [routerLink]="['/services']" routerLinkActive="active">Services</a>
                            <a [routerLink]="['/price']" routerLinkActive="active">Pricing</a>
                            <a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
