<div class="common" style="background-image: url(./assets/default-header-img.jpg);"></div>

<div class="service-section">
    <div class="container">
        <div class="service-items">
            <div class="service-title">
                <h3>OUR SERVICES</h3>
                <p>I am text block. Click edit button to change this text. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            </div>
            <div class="cards">
                <div class="card-item">
                    <div class="card">
                        <div class="card-image">
                            <img src="./assets/service-img2.png" alt="">
                        </div>
                        <h3>Wineyards</h3>
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet.</p>
                        <button>READ MORE</button>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="./assets/service-img3.png" alt="">
                        </div>
                        <h3>Wine Making</h3>
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet.</p>
                        <button>READ MORE</button>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="./assets/service-img4.png" alt="">
                        </div>
                        <h3>Our Wines</h3>
                        <p>Click edit button to change this text. Lorem ipsum dolor sit amet.</p>
                        <button>READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>