<div class="slider-section">
    <div class="slider-img" style="background-image: url(./assets/slider1.jpg);">
        <div class="slider-bottom">
            <img src="./assets/slider-wave.png" alt="">
        </div>
    </div>
</div>
<div class="wine-making">
    <div class="container">
        <div class="wine-making-items">
            <div class="wine-photo">
                <img src="./assets/section1-img.jpg" alt="">
            </div>
            <div class="making-description">
                <div class="making-title">
                    <h3>The Process of</h3>
                    <h2>Wine Making</h2>
                    <p>Praesent tincidunt odio libero, in viverra erat finibus
                         stibulum andy facilisis mollis nibh, ut bibendum sapien 
                         molestie id.</p>
                </div>
                <div class="making-production">
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon1.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Harvesting</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Fermentation</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Ageing & Bottling</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advert-section">
    <div class="container">
        <div class="advert-items">
            <div class="advert-item-caption">
                <h3>California</h3>
                <h2>2020 Vineyard</h2>
                <div class="advert-image">
                    <img src="./assets/vineyard-img.png" alt="">
                </div>
                <p>Praesent tincidunt odio libero, in viverra erat finibus 
                    stibulum andy facilisi mollis nibh, ut bibendum sapien.</p>
            </div>
            <div class="advert-item-image">
                <img src="./assets/center-img-84x300.png" alt="">
            </div>
            <div class="advert-item-slider">
                <h3>The Process of</h3>
                <h2>Case Specials</h2>
                <div class="slider">
                    <div class="carousel">
                        <img src="./assets/case-img.png" alt="">
                        <i id="right" class="fas fa-angle-right"></i>
                        <i id="left" class="fas fa-angle-left"></i>
                        <h4>The Process of</h4>
                        <p>Praesent tincidunt odio libero, in viverra erat finibus stibulum andy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-section">
    <div class="container">
        <div class="choose-items">
            <div class="choose-title">
                <h3>Choose A</h3>
                <h2>Winery</h2>
            </div>
            <div class="choose-list">
                <div class="choose-item">
                    <div class="item-photo">
                        <img src="./assets/service-img1.png" alt="">
                    </div>
                    <h3>Processing</h3>
                </div>
                <div class="choose-item">
                    <div class="item-photo">
                        <img src="./assets/service-img2.png" alt="">
                    </div>
                    <h3>Vineyards</h3>
                </div>
                <div class="choose-item">
                    <div class="item-photo">
                        <img src="./assets/service-img3.png" alt="">
                    </div>
                    <h3>Winemaking</h3>
                </div>
                <div class="choose-item">
                    <div class="item-photo">
                        <img src="./assets/service-img4.png" alt="">
                    </div>
                    <h3>Our Wines</h3>
                </div>
                <div class="choose-item">
                    <div class="item-photo">
                        <img src="./assets/service-img1.png" alt="">
                    </div>
                    <h3>Pressing</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="booking-section" style="background-image: url(./assets/section4-bg.jpg);">
    <div class="container">
        <div class="booking-items">
            <div class="booking-item">
                <h4>Wanna booking for a</h4>
                <h2>Large Amount?</h2>
                <p>Praesent tincidunt odio libero, in viverra eratin finibus stibulum andy facilisis
                     mollis nibhutay bibenduming sapien molestie Vestbu faucibus 
                    enim tellu sed semper ex elemen aellentesque habitant morbi tristique senectus.</p>
                    <button>Contact Us</button>
            </div>
        </div>
    </div>
</div>
<div class="offer-section">
    <div class="container">
        <div class="offer-items">
            <div class="offer-image">
                <img src="./assets/section5-img.png" alt="">
            </div>
            <div class="offer-caption">
                <h3>Special Offers</h3>
                <h2>Deal of the week</h2>
                <p>Sed consequat porta felis et porttitor. Maecenas at mattis mi.
                     Phasellusin dictum dolor non lectus tempus elementum. 
                    Interdum et malesuada and fames ac ante ipsum primis in faucibus.
                </p>
                <button>Shop Now</button>
            </div>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="container">
        <div class="product-items">
            <div class="title">
                <h3>Our Wine</h3>
                <h2>Top Products</h2>
            </div>
            <div class="product-item">
                <button class="btn">Add To Cart</button>
                <img src="./assets/product-img1.png" alt="">
                <h3>Maximus Lectus</h3>
                <h4>$49.00</h4>
            </div>
            <div class="product-item">
                <button class="btn">Add To Cart</button>
                <img src="./assets/product-img2.png" alt="">
                <h3>Cellars Cabarnet</h3>
                <h4>$49.00</h4>
            </div>
            <div class="product-item">
                <button class="btn">Add To Cart</button>
                <img src="./assets/product-img1.png" alt="">
                <h3>Laboure Chardonnay</h3>
                <h4>$49.00</h4>
            </div>
            <div class="product-item">
                <button class="btn">Add To Cart</button>
                <img src="./assets/product-img2.png" alt="">
                <h3>Dark Horse Rose</h3>
                <h4>$49.00</h4>
            </div>
        </div>
    </div>
</div>