<div class="slider-section">
    <div class="slider-img" style="background-image: url(./assets/slider1.jpg);">
        <div class="slider-bottom">
            <img src="./assets/slider-wave.png" alt="">
        </div>
    </div>
</div>
<div class="wine-making">
    <div class="container">
        <div class="wine-making-items">
            <div class="wine-photo">
                <img src="./assets/section1-img.jpg" alt="">
            </div>
            <div class="making-description">
                <div class="making-title">
                    <h3>The Process of</h3>
                    <h2>Wine Making</h2>
                    <p>Praesent tincidunt odio libero, in viverra erat finibus
                         stibulum andy facilisis mollis nibh, ut bibendum sapien 
                         molestie id.</p>
                </div>
                <div class="making-production">
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon1.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Harvesting</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Fermentation</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                    <div class="products">
                        <div class="product-img">
                            <img src="./assets/process-icon3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h2>Ageing & Bottling</h2>
                            <p>Praesent tincidunt odio libero, in viverra erat finibestibulum
                                 facilisis mollis nibh, ut bibendum sapien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>