<div class="common" style="background-image: url(./assets/default-header-img.jpg);"></div>
<div class="price-section">
    <div class="container">
        <div class="price-items">
            <div class="price-title">
                <h3>CHOOSE THE PERFECT PLAN</h3>
                <p>I am text block. Click edit button to change this text. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            </div>
            <div class="price-cards">
                <div class="price-card">
                    <div class="price">
                        <span>$</span>
                        <h2>19</h2>
                    </div>
                    <p>P E R  M O N T H</p>
                    <span class="line"></span>
                    <div class="price-list">
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Vineyards</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Winemaking</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Our Wines</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Pressing</h4>
                        </div>
                    </div>
                </div>
                <div class="price-card">
                    <div class="price">
                        <span>$</span>
                        <h2>49</h2>
                    </div>
                    <p>P E R  M O N T H</p>
                    <span class="line"></span>
                    <div class="price-list">
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Vineyards</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Winemaking</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Our Wines</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Pressing</h4>
                        </div>
                    </div>
                </div>
                <div class="price-card">
                    <div class="price">
                        <span>$</span>
                        <h2>99</h2>
                    </div>
                    <p>P E R  M O N T H</p>
                    <span class="line"></span>
                    <div class="price-list">
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Vineyards</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Winemaking</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Our Wines</h4>
                        </div>
                        <div class="list-line">
                            <i class="fas fa-check"></i>
                            <h4>Pressing</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>